/*
* COLORS
*/
$main: rgb(237, 237, 237);
$dark: rgb(146, 144, 241);
$light: rgb(255, 226, 111);
$flashy: rgb(242, 62, 140);
$grey: #8c8c8c;
$bgColor: rgb(15, 39, 68);

/*
* Distance
*/
$default-margin-bottom: 30px;
$topNavbarSpacer: 40px;
